<nav class="relative container mx-auto p-6">
    <div class="hidden md:flex items-center justify-between">
        <div>Photo Spots</div>
        <div class="flex space-x-6">
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="/spots">Spots</a>
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
</nav>