<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="apple-touch-icon" sizes="128x128" href="/images/camera-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/camera-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/camera-16x16.png">  
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet'>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>  
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css">
    <title>Photo Spots</title>
</head>

<body class="flex flex-col h-screen">
    <%- include('../partials/navbar') %>
    <main class="container m-auto px-12 lg:px-20 mb-6">
        <%- include('../partials/flash') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>    
    <script src="/js/validation.js"></script>
</body>
</html>