<% layout('layouts/boilerplate') %>
<div class="h-full">
    <div class="flex flex-wrap justify-center items-center lg:justify-between xl:justify-center h-full">
        <div class="grow-0 shrink-1 md:shrink-0 basis-auto md:w-9/12 md:mb-0 lg:w-6/12 xl:w-6/12">
            <img src="/images/login-img.jpg" class="w-full" alt="Camera image"/>
        </div>
        <div class="w-11/12 mt-5 lg:mt-0 md:w-9/12 lg:w-5/12 lg:ml-10 xl:ml-20 xl:w-5/12">
            <h1 class="text-center text-3xl font-semibold mb-4">Login</h1>
            <form action="/login" method="POST" class="form">
                <div class="mb-4">
                    <label for="username" class="block mb-2">Username</label>
                    <input type="text" id="username" name="username" class="input w-full border-gray-300 rounded ring-red-400">
                    <small class="hidden text-red-700">Please provide username</small>
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2">Password</label>
                    <input type="password" id="password" name="password" class="input w-full border-gray-300 rounded ring-red-400">
                    <small class="hidden text-red-700">Please provide password</small>
                </div>
                <div class="flex flex-col">
                    <button class="m-auto lg:ml-0 inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg transition duration-150 ease-in-out">Login</button>
                    <p class="m-auto lg:ml-0 text-sm font-semibold mt-2 pt-1 mb-0">Don't have an account?
                        <a href="/register" class="text-blue-600 hover:text-blue-700 transition duration-200 ease-in-out">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
