<% layout('layouts/boilerplate') %>
<h1>Login</h1>
<form action="/login" method="POST" class="form">
    <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="input w-full border-gray-300 rounded ring-red-400">
        <small class="invisible">Please provide username</small>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="input w-full border-gray-300 rounded ring-red-400">
        <small class="invisible">Please provide password</small>
    </div>
    <button>Login</button>
</form>