<% layout('layouts/boilerplate') %>
<form action="/spots" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="spot[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="spot[location]">
    </div>
    <button>Add Spot</button>
</form>
<a href="/spots">All Spots</a>
